extends layout

block content
  table
    tr
      th title
      th label
      th content
      th lastModifiedDate
      th createdDate
      th delete
      th edit

      for todo in todos
         tr
           td.title #{todo.title}
           td.label #{todo.label}
           td.content #{todo.content}
           td.lastModifiedDate #{todo.lastModifiedDate}
           td.createdDate #{todo.createdDate}
           td.delete
             button#deleteButton(href='/deleteTodo/#{todo.id}') delete
           td.edit
             button#editButton(href='/editTodo/#{todo.id}') edit
